
<nav class="navbar navbar-expand-sm bg-primary navbar-dark p-1 ">
    
<div class="nav-txt ">
    <i class="far fa-map-marker-alt icon1 mr-2"></i>
    <h2 class="navbar-brand nav-text ml-2 mb-1">houzez</h2>
</div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>   
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
       
        
        <li class="nav-item dropdown nav-list">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                HOME
            </a>
            <div class="dropdown-menu bg-dark">
                <a class="dropdown-item" href="#">WITH CAPTION FORM</a>
                <a class="dropdown-item" href="#">WITH OVERLAY SIDE REACH</a>
                <a class="dropdown-item" href="#">MAPS</a>
                <a class="dropdown-item" href="#">PARALLAX</a>
                <a class="dropdown-item" href="#">VIDEO</a>
                <a class="dropdown-item" href="#">SLIDERS</a>
                <a class="dropdown-item" href="#">SPLASH</a>
                
            </div>
        </li>
        <li class="nav-item dropdown ml-3">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                LISTING
            </a>
            <div class="dropdown-menu  ml-3">
                <a class="dropdown-item" href="#">LISTING V1</a>
                <a class="dropdown-item" href="#">LISTING V2</a>
                <a class="dropdown-item" href="#">LISTING V3</a>
                <a class="dropdown-item" href="#">LISTING V4</a>
                <a class="dropdown-item" href="#">LISTING V5</a>
                <a class="dropdown-item" href="#">LISTING V6</a>
                <a class="dropdown-item" href="#">WITH CONTENT </a>
                <a class="dropdown-item" href="#">ELEMENTOR</a>
                <a class="dropdown-item" href="#">FEATURED LISTINGS ON TOP</a>
                <a class="dropdown-item" href="#">HALF MAP</a>
                <a class="dropdown-item" href="#">LISTING PARALLAX</a>
                <a class="dropdown-item" href="#">LISTING WITH MAP</a>
            </div>
        </li>
        <li class="nav-item dropdown ml-3">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                PROPERTY
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
                <a class="dropdown-item" href="#">Link 3</a>
            </div>
        </li>
        <li class="nav-item dropdown ml-3">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                PAGES
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
                <a class="dropdown-item" href="#">Link 3</a>
            </div>
        </li>
        <li class="nav-item dropdown ml-3">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                ELEMENTOR
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
                <a class="dropdown-item" href="#">Link 3</a>
            </div>
        </li>
        <li class="nav-item dropdown ml-3">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                SEARCHES
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
                <a class="dropdown-item" href="#">Link 3</a>
            </div>
        </li>
        
       
        
    </ul>
    
  </div>  
<i class="far fa-user-circle ml-5 icon2"></i>
<button class="btn btn-primary active ml-3 mb-2 p-1">CREATE A LISTING</button>
</nav>