.nav-text{
    font-family: 'Work Sans';
    font-size: 40px;
}

.icon1{
    font-size: 30px;
    color: white;
}
.icon2{
    font-size: 20px;
    
}
.img1{
    height: 200px;
    width: 500px;
}
.rae{
   background-color:  #ff1dc2 ;
   color: black;
}
.dropdown-item:hover{
    background-color:  #ff1dc2;
    color: green;
}
button:hover{
    background-color: #dd00a2;
    border: 0px;
}
