.nav-text{
    font-family: 'Work Sans';
    font-size: 40px;
}

.icon1{
    font-size: 30px;
    color: white;
}
.icon2{
    font-size: 20px;
    margin-top: 10px;
    color: white;
}
.img1{
    height: 200px;
    width: 500px;
}
.rae{
   background-color:  #185481;
}