<div class="container-fluid">
    <div class="row row1">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <p>About Site</p>
            <p>Houzez is a premium WordPress theme for real estate where modern aesthetics are combined with tasteful simplicity.</p>
            <p>Read more</p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <p>Contact Us</p>
            <p> 774 NE 84th St Miami, FL 33879</p>
            <p> Call us FREE +1 (800) 990 8877</p>
            <p>+1 (800) 990 8877</p>
            <p> email@email.com</p>
            <p>Contact us</p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <p>Newsletter</p>

            <div class="form-group form-inline">
                <input type="text" class="form-control">
                <button class="btn btn-dark">Submit</button>
            </div>
            
            <p>Houzez is a premium WordPress theme for real estate where modern aesthetics are combined with tasteful simplicity.</p>
        </div>
    </div>
    
    <div class="row row2">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <p>© Houzez - All rights reserved</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <ul >
                <li >Privacy</li>
                <li >Terms and Condition</li>
                <li >Contact</li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 d-xs-none">
            <p>© Houzez - All rights reserved</p>
        </div>
    </div>

</div>

