
.hay{
    color: white;
    font-size: 20px;
}
.bee{
     
    border-left: white 1px solid;
    border-right: solid 1px white; 
}
.cee{
    color: #98B3C7;
    font-size: 18px;
}
.dee{
    color: #044576;
    text-decoration: none;
}
.elf{
    font-size: 18px;
}

.list-item{
    display: inline-block;
    padding: 0px;
}

/* #umbotron{
    background-image: url(../../assets/jaso.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:600px;
} */
.gee{
    background-color: #FF1DC2;
    
}
.ech{
    font-size: 18px;
}
.image{
    border-radius: 5px;
}
.cont{
    margin-bottom: 100px;
}
.hig{
    font-size: 30px;
    color: black;
}
.jay{
    font-size: 20px;
}
 .kay{
    background-color:whitesmoke;
} 
.btn{
    background-color:  #FF1DC2;
}
.container-1{
   background-color:whitesmoke;
     
}

.ell{
    font-size: 20px;
}