
.hay{
    color: white;
    font-size: 20px;
}
.bee{
     
    border-left: white 1px solid;
    border-right: solid 1px white; 
}
.cee{
    color: #98B3C7;
    font-size: 18px;
}
.dee{
    color: #044576;
    text-decoration: none;
}
.elf{
    font-size: 18px;
}

.list-item{
    display: inline-block;
    padding: 0px;
}
