<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <!-- <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul> -->

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/jason.jpg" id="img1" class="img-fluid" alt="Los Angeles">
            <!-- <div class="carousel-caption">
                <h3>Los Angeles</h3>
                <p>LA is always so much fun!</p>
            </div> -->
        </div>
        <div class="carousel-item">
            <img src="../../assets/avi-waxman-f9qZuKoZYoY-unsplash.jpg" class="img-fluid" alt="Chicago">
        </div>
        <div class="carousel-item">
            <img src="../../assets/precondo-ca-QHDFm084RNk-unsplash (1).jpg" class="img-fluid" alt="New York">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>
<div class="container mt-5 bg-primary mb-5 container-fluid">
    <div class="row">
        <div class="col-sm " id="hee">
            <header class="text-center font-weight-bold mt-5 hay">Easily to get started</header>
            <p class="text-center cee">
                Get ready to launch your reality site<br>
                in minutes without any previous<br>
                experience
            </p>
            <footer class="text-center">
               <a href="#" class="dee">Learn more</a>
            </footer>
        </div>
        <div class="col-sm bg-rimary bee">
            <header class="text-center font-weight-bold mt-5 hay">
                Highly customizable
            </header>
            <p class="text-center cee">
                Customize the site to your<br>
                expectations by using all of the<br>
                theme features
            </p>
            <footer class="text-center">
               <a href="#" class="dee"> Learn more</a>
            </footer>
        </div>
        <div class="col-sm-4 bg-primary">
            <header class="text-center font-weight-bold mt-5 hay">
                Drag and drop based
            </header>
            <p class="text-center cee">
                design your page simply dragging<br>
                the faetures using Elementor page<br>
                builder
            </p>
            <footer class="text-center">
                <a href="#" class="dee">Learn more</a>
            </footer>
        </div>
    </div>
</div>
<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">Display Latest and Featured Property </h1>
        <p class="text-center elf">
            with the features and filters provided with the houzez widgets you can turn your visitors attention to<br>
            the latest listings or the ones that are most profitable to buy at the moment.</p>
    </div>
  </div>  
  <div class="container mb-5">
      <div class="row">
          <div class="col-sm-3"><p class="text-center cee">
            design your page simply dragging<br>
            the faetures using Elementor page<br>
            builder
           
        </p></div>
        <div class="col-sm-3">2</div>
        <div class="col-sm-3">3</div>
        <div class="col-sm-3">4</div>

      </div>
  </div>

  <div class="carousel-slide">
    <div class="carousel-inner">
      <img src="../../assets/jasor.jpg" class="img-fluid">
      <div class="carousel-caption">
       <p class="hig">
           Houzez offer a wide range of drag and widgets<br>
           to assist you in designing your pages
       </p>
    <div class="card-group container">
        <div class="card ooh">
            <div class="card-body text-center">
                <p class="card-text">LOOKING TO BUY</p>
            </div>
        </div>
        <div class="card ooh">
            <div class="card-body text-center">
                <p class="card-text">SELL YOUR HOME</p>
            </div>
        </div>
        <div class="card ooh">
            <div class="card-body text-center">
                <p class="card-text">RENT A PLACE</p>
            </div>
        </div>
        <div class="card ooh">
            <div class="card-body text-center">
                <p class="card-text">NEED HELP?</p>
            </div>
        </div>
    </div>

      </div>
    </div>        
  </div>
  
        
<!-- <div class="container-fluid" id="umbotron">
    <div >
            <div class="row" >
            <div class="col-sm-3 bg-light">
                love me
            </div>
            <div class="col-sm-3 bg-light">
                love me 
            </div>
            <div class="col-sm-3 bg-light">
                love me
            </div>
        </div>
    </div>
</div> -->
<div class="container text-center mt-5 mb-5">
    <div class="row">
        <div class="col-sm-4 mb-2">
            <h3 class="text-left">
                You Can Design Clean<br>
                And Modern Grid<br>
                Layout
            </h3>
            <p class="text-left ech">
                Grid are backbone of all<br>
                layouts, infographics and<br>
                presentation
            </p>
            <img src="../../assets/img2.jpg" class="img-fluid image">
        </div>
        <div class="col-sm-4">
            <div class="mb-4">
              <img src="../../assets/france.jpg" class="img-fluid image">
            </div>
            <div class="mb-4">  
              <img src="../../assets/alex-wark.jpg" class="img-fluid image">
            </div>
            <div class="mb-4">  
              <img src="../../assets/rance.jpg" class="img-fluid image">
            </div>  
        </div>
        <div class="col-sm-4">
            <div class="mb-4">
              <img src="../../assets/alex-wark.jpg" class="img-fluid image">
            </div>
            <div>
                <img src="../../assets/tierra.jpg" class="img-fluid image">
            </div>
        </div>
    </div>
</div>
<div class="container container-fluid mt-5 mb-5">
    <div class="row">
        <div class="col-lg-6 mt-5">
            <h1>
                Create Custom Capture<br>
                Forms And Manage Leads<br>
                With The Integrated<br>
                Houzez CRM
            </h1>
            <p class="jay">
                The Inquiry Form widget allows you to design<br>
                unique forms to capture your leads. It<br>
                connects with Houzez CRM and your email<br>
                inbox to keep your work everything on track.
            </p>
        </div>
        <div class="col-lg-6 kay">
            <form class="form">
                <div class="form-group">
                    <label class="control-label font-weight-bold jay">
                        Inquiry Type
                    </label>
                    <select class="form-select form-control">
                        <option selected>Select</option>
                        <option value="1">Rent</option>
                        <option value="2">Purchase</option>
                        <option value="3">Miss</option>
                        <option value="4">Mortage</option>
                        <option value="5">Evaluation</option>
                    </select>
                    <label class="control-label font-weight-bold jay">
                        Your Information
                    </label>
                    <select class="form-select form-control">
                        <option selected>I'm a</option>
                        <option value="1">I'm a real estate agent</option>
                        <option value="2">I'm a property owner</option>
                    </select>
                   
                </div>
            </form>
            <div class="form-inline form-group">
                <input type="text" placeholder="First Name" class="form-control col-sm-4">
                <div class="col-sm-4"></div>
                <input type="text" placeholder="Last Name" class="form-control col-sm-4">
            </div>
            <div class="form-group">
              <input type="email" placeholder="Email Address" class="form-control">
            </div>
            <div class="form-group">
                <label class="control-label font-weight-bold jay">
                    Property Details
                </label>
                <select class="form-select form-control">
                    <option selected>Select Type</option>
                    <option value="1">Apartment</option>
                    <option value="2">Condo</option>
                    <option value="3">Lot</option>
                    <option value="4">Multi Family Home</option>
                    <option value="5">Office</option>
                    <option value="6">Shop</option>
                    <option value="7">Single Family Home</option>
                    <option value="8">Studio</option>
                    <option value="9">Villa</option>
                </select>
            </div>  
            <div class="form-inline form-group">
                <input type="number" placeholder="Max price" class="form-control col-sm-4">
                <div class="col-sm-4"></div>
                <input type="number" placeholder="Minimum size(sq ft)" class="form-control col-sm-4">
            </div>
            <div class="form-inline form-group">
                <input type="number" placeholder="Number of beds" class="form-control col-sm-4">
                <div class="col-sm-4"></div>
                <input type="number" placeholder="Number of baths" class="form-control col-sm-4">
            </div>
            <div class="form-group">
                <button class="form-control btn mt-5">Submit</button>
            </div>
        </div>

    </div>
</div>

    <h1 class="text-center">
        Display Different Content Types
    </h1>
    <p class="text-center ech">
        The houzez Grids widget allow you to display property cities, types,
        status, etc within different grid<br> style variations, colors and
        and typography options
    </p>
    <div class="container mb-5">
        <div class="row">
        <div class="col-sm-6">
            <img src="../../assets/New folder/beem.jpg" class="img-fluid image">
            
            <div class="row">
                <div class="col-sm-6 mt-4">
                    <img src="../../assets/New folder/frances.jpg" class="img-fluid image">

                </div>
                <div class="col-sm-6 mt-4">
                    <img src="../../assets/New folder/hub.jpg" class="img-fluid image">
                
                </div>
            </div>
            <img src="../../assets/New folder/side.jpg" class="img-fluid image mt-4">
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col=sm-6">
                    <img src="../../assets/New folder/rony.jpg" class="img-fluid image"> 
                </div>
                <div class="col-sm-6">
                    <img src="../../assets/New folder/stephen.jpg" class="img-fluid image">
                </div>
                <img src="../../assets/New folder/radhe.jpg" class="img-fluid image mt-4 ">
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 mt-4">
                    <img src="../../assets/New folder/alexi.jpg" class="img-fluid image">
                </div>
                <div class="col-sm-6 col-md-6 mt-4">
                    <img src="../../assets/New folder/avin.jpg" class="img=fluid image">
                </div>
            </div>
        </div>

        </div>
    </div>
     <div class="container-1 mb-5">
        <h1 class="text-center">
            Meet Our Agents
        </h1>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      <div class="container bg-light">
            <div class="row" >
                <div class="col-sm-3">
                    <img src="../../assets/basit.jfif" class="img-fluid  rounded-circle mx-auto d-block mt-3 mb-4">
                    <h3 class=" text-center ell">
                        <p class="text-info">Samuel Palmer</p>
                        Company Agent, Modern<br>
                        House Real Estate
                    </h3>
                    <p class="text-center">
                        Lorem ipsum dolor sit amet<br>
                        consectetur adipisicing elit<br>
                        phasellus porta justo eget<br>
                        rusus consectetur....
                    </p>
                    <div class="text-center">
                       <a href="#" class="text-info text-decoration-none">View Profile</a>
                    </div>
                     
                </div>
                <div class="col-sm-3 hem">
                        <img src="../../assets/basit.jfif" class="img-fluid  rounded-circle mx-auto d-block mt-3 mb-4">
                        <h3 class=" text-center ell">
                            <p class="text-info">Samuel Palmer</p>
                            Company Agent, Modern<br>
                            House Real Estate
                        </h3>
                        <p class="text-center">
                            Lorem ipsum dolor sit amet<br>
                            consectetur adipisicing elit<br>
                            phasellus porta justo eget<br>
                            rusus consectetur....
                        </p>
                        <div class="text-center">
                          <a href="#" class="text-info text-decoration-none">View Profile</a>
                        </div>
                        
                        
                        
                </div>
                <div class="col-sm-3 hem">
                        <img src="../../assets/basit.jfif" class="img-fluid  rounded-circle mx-auto d-block mt-3 mb-4">
                        <h3 class=" text-center ell">
                            <p class="text-info">Samuel Palmer</p>
                            Company Agent, Modern<br>
                            House Real Estate
                        </h3>
                        <p class="text-center">
                            Lorem ipsum dolor sit amet<br>
                            consectetur adipisicing elit<br>
                            phasellus porta justo eget<br>
                            rusus consectetur....
                        </p>
                        <div class="text-center">
                            <a href="#" class="text-info text-decoration-none">View Profile</a>
                        </div>
                        
                </div>
                <div class="col-sm-3 hem">
                        <img src="../../assets/basit.jfif" class="img-fluid  rounded-circle mx-auto d-block mt-3 mb-4">
                        <h3 class=" text-center ell">
                            <p class="text-info">Samuel Palmer</p>
                            Company Agent, Modern<br>
                            House Real Estate
                        </h3>
                        <p class="text-center">
                            Lorem ipsum dolor sit amet<br>
                            consectetur adipisicing elit<br>
                            phasellus porta justo eget<br>
                            rusus consectetur....
                        </p>
                        <div class="text-center mb-5">
                            <a href="#" class="text-info text-decoration-none">View Profile</a>
                        </div>
                        
                        
                </div>

            </div>
       </div> 
    </div>
    <!-- <div>
        <h1 class="text-center">
            Testimonials
        </h1>
        <p class="text-center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit
        </p>
        <div class="container mb-5">
            <div class="row">
                <div class="col-sm-4 hen">
                    <h1 class="ml-3 text-monospace">66</h1>
                    <p class="ml-3 mt-2 jay">
                        Really good Theme. We can't<br>
                        understand how we've been living<br>
                        without houzez
                    </p>
                    <div class="row mb-3">
                      <img src="../../assets/New folder/olamide.jfif" class="img-fluid rounded-circle col-sm-4">
                       <p class="col-sm-8 mt-3"> by, Kolawole Basit<br>
                        Front-End, Developer</p>
                     
                    </div> 
                </div>
                <div class="col-sm-4 hen">
                    <h1 class="ml-3 text-monospace">66</h1>
                    <p class="ml-3 mt-2 jay">
                        Really good Theme. We can't<br>
                        understand how we've been living<br>
                        without houzez
                    </p>
                    <div class="row mb-3">
                        <img src="../../assets/New folder/olamide.jfif" class="img-fluid rounded-circle col-sm-4">
                        <p class="col-sm-8 mt-3"> by, Kolawole Basit<br>
                            Front-End, Developer</p>
                    
                    </div>
                </div>
                <div class="col-sm-4 hen">
                    <h1 class="ml-3 text-monospace">66</h1>
                    <p class="ml-3 mt-2 jay">
                        Really good Theme. We can't<br>
                        understand how we've been living<br>
                        without houzez
                    </p>
                    <div class="row mb-3">
                        <img src="../../assets/New folder/olamide.jfif" class="img-fluid rounded-circle col-sm-4">
                        <p class="col-sm-8 mt-3"> by, Kolawole Basit<br>
                            Front-End, Developer</p>
                    
                    </div>
                </div>
            </div>
        </div>
    </div> 
     <h1 class="ml-3 text-monospace">66</h1>
                    <p class="ml-3 mt-2 jay">
                        Really good Theme. We can't<br>
                        understand how we've been living<br>
                        without houzez
                    </p>
                    <div class="row mb-3">
                        <img src="../../assets/New folder/olamide.jfif" class="img-fluid rounded-circle col-sm-4">
                        <p class="col-sm-8 mt-3"> by, Kolawole Basit<br>
                            Front-End, Developer</p>
                     -->
                    <div class="card-deck container mx-auto mb-5">
                        <div class="card hen shadow-lg p-4 mb-4 ">
                            <div class="card-body">
                                <h1 class="card-text text-monospace">66</h1>
                                <p class="jay">
                                    Really good Theme. We can't<br>
                                    understand how we've been living<br>
                                    without houzez  </p>
                                  <div class="row">
                                    <img src="../../assets/New folder/olamide.jfif" class="img-fluid rounded-circle col-sm-4">
                                    <p class="col-sm-8"> by, Kolawole Basit<br>
                                    Front-End, Developer</p>
                                  </div>

                            </div>
                        </div> 
                        <div class="card hen shadow-lg p-4 mb-4">
                            <div class="card-body">
                                    <h1 class="card-text text-monospace">66</h1>
                                    <p class="jay">
                                        Really good Theme. We can't<br>
                                        understand how we've been living<br>
                                        without houzez </p>
                                    <div class="row">
                                        <img src="../../assets/New folder/olamide.jfif" class="img-fluid rounded-circle col-sm-4">
                                        <p class="col-sm-8"> by, Kolawole Basit<br>
                                            Front-End, Developer</p>
                                    </div>
                            </div>
                        </div>
                        <div class="card hen shadow-lg p-4 mb-4">
                            <div class="card-body ">
                                    <h1 class="card-text text-monospace">66</h1>
                                    <p class="jay">
                                        Really good Theme. We can't<br>
                                        understand how we've been living<br>
                                        without houzez </p>
                                    <div class="row">
                                        <img src="../../assets/New folder/olamide.jfif" class="img-fluid rounded-circle col-sm-4">
                                        <p class="col-sm-8"> by, Kolawole Basit<br>
                                            Front-End, Developer</p>
                                    </div>
                            </div>
                        </div>
                     
                    </div>
                    <router-outlet></router-outlet>